/* Allmönt style */
* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: #00308f;
  color: white;
}

/* Main styling */

/* Style för sl container */
#sl-container {
  min-height: 100vh;
  background-image: url(../img/sl-logo.png);
  background-attachment: fixed;
}

/* Form styling */
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;

  background-color: #b2ffff;
}

@media screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
  }
}

/* Form submit button styling */
form input {
  border: none;
  border-radius: 25px;
  padding: 8px;
  background-color: #7cb9e8;
  transition: 0.3s;
}

form input:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.info_container {
  width: 100%;
  min-height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* swiper styles */
swiper-container {
  width: 340px;
  height: fit-content;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 10px;
  gap: 10px;

  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide h2 {
  font-size: 20px;
  text-align: center;
}

swiper-slide p {
  display: flex;
  font-size: 12px;
  margin-bottom: 20px;
}

swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
